{% schema %}
{
  "name": "t:script.name",
  "target": "head",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:script.description"
    },
    {
      "type": "select",
      "id": "setup_choice",
      "label": "t:script.setup_choice.label",
      "options": [
        {
          "value": "simple",
          "label": "t:script.setup_choice.options.simple"
        },
        {
          "value": "advanced",
          "label": "t:script.setup_choice.options.advanced"
        }
      ],
      "default": "simple"
    },
    {
      "type": "header",
      "content": "t:script.simple_setup.header"
    },
    {
      "type": "checkbox",
      "id": "display_release_date",
      "label": "t:script.simple_setup.display_release_date.label",
      "info": "t:script.simple_setup.display_release_date.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_unit_restriction",
      "label": "t:script.simple_setup.display_unit_restriction.label",
      "info": "t:script.simple_setup.display_unit_restriction.info",
      "default": true
    }
  ]
}
{% endschema %}

{%- case block.settings.setup_choice -%}
  {%- when "simple" -%}
    <div
      class="js-dropdeck-script-simple-settings"
      data-display-release-date="{{ block.settings.display_release_date }}"
      data-display-unit-restriction="{{ block.settings.display_unit_restriction }}"
    ></div>

    <script src="{{ 'dropdeck-preorder-script-simple.js' | asset_url }}" defer></script>
{%- endcase -%}
