{% schema %}
{
  "name": "Dropdeck Script",
  "target": "head",
  "settings": [
    {
      "type": "paragraph",
      "content": "Dropdeck offers two setup methods: there's the simple setup, and the advanced setup. The simple setup requires no further setup other than enabling it, but it may have compatability issues with certain themes as it attempts to inject code into your theme, while the advanced setup requires you to enter some code into your theme yourself, which means you need some technical knowledge."
    },
    {
      "type": "select",
      "id": "setup_choice",
      "label": "Setup Choice",
      "options": [
        {
          "value": "simple",
          "label": "Simple Setup"
        },
        {
          "value": "advanced",
          "label": "Advanced Setup"
        }
      ],
      "default": "simple"
    },
    {
      "type": "header",
      "content": "Simple Setup Settings"
    },
    {
      "type": "checkbox",
      "id": "display_release_date",
      "label": "Display Release Date",
      "info": "This will display the release date for a product with a preorder selling plan.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_unit_restriction",
      "label": "Display Unit Restriction",
      "info": "This will display the unit restriction for a product with a preorder selling plan. This should be added to all of the quantity selectors on the theme as the value of the max attribute on the input",
      "default": true
    }
  ]
}
{% endschema %}

{%- case block.settings.setup_choice -%}
  {%- when "simple" -%}
    <div
      class="js-dropdeck-script-simple-settings"
      data-display-release-date="{{ block.settings.display_release_date }}"
      data-display-unit-restriction="{{ block.settings.display_unit_restriction }}"
    ></div>

    <script src="{{ 'dropdeck-preorder-script-simple.js' | asset_url }}" defer></script>
{%- endcase -%}
